
.sidebar-toggle {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 1000;
  background: var(--color-primary-hover);
  color: var(--color-bg-main);
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  margin-right: 2%;
}

.sidebar-toggle:hover {
  transform: translateY(-3px);
  transition: 1.2s ease-in-out;
}

.sidebar-toggle.hidden {
  opacity: 0;
  pointer-events: none;
}

.main-content.blur-sm {
  filter: blur(4px);
}

.main-content.blur-none {
  filter: none;
}