.main-content.sidebar-open {
  margin-left: 250px;
}

.calculator-container {
  width: 100%;
  max-width: 500px;
  min-width: 360px;
  padding: 1rem 1.5rem;
  background-color: white;
  border-radius: var(--border-radius-lg);
  box-shadow: 0 4px 16px rgba(48, 48, 48, 0.315);
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  position: relative;
}

.sidebar {
  z-index: 10;
}

/* Title styling */
.calculator-title {
  font-family: 'Arial', sans-serif; /* Improved typography */
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-text-primary);
  text-align: center;
  margin-bottom: 1rem; /* Separation from inputs */
}

.input-label {
  font-size: 1rem;
  font-weight: 600;
  /* background-color: #007bff; */
  padding-top: 4px;
  /* margin-bottom: -2px; */
}

/* Input and button shared styling */
.calculator-field input,
.calculator-field select,
.calculator-button {
  width: 100%; /* Full width */
  padding: 0.75rem;
  margin-top: 0.5rem;
  background-color: white;
  color: #1a202c;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.375rem;
  font-size: 1rem;
  transition: all 0.2s ease;
  box-sizing: border-box; /* Consistent sizing */
}

/* Input focus styling */
.calculator-field input:focus,
.calculator-field select:focus {
  border-color: #007bff;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.2);
  outline: none;
}

/* Button styling */
.calculator-button {
  background-color: var(--color-primary);
  color: white;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  margin-top: 0.75rem; /* Adjusted spacing */
  transition: all 0.2s ease;
}

/* Button hover effect */
.calculator-button:hover {
  background-color: var(--color-primary-hover);
}

/* Button active effect */
.calculator-button:active {
  box-shadow: none; /* Removes dark outline */
}

/* Results section styling */
.calculator-results {
  margin-top: 0.9rem;
  padding: 1rem;
  background-color: var(--color-bg-secondary);
  color: var(--color-text-primary);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.375rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  justify-items: center;
}

/* Label styling */
.calculator-field label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.25rem; /* Adds spacing below labels */
  color: #4a5568;
}

/* Reduce overall calculator height */
.calculator-container {
  padding: 1rem 1.5rem; /* Adjusted padding */
}

/* Ensure hover effects for better UX */
.calculator-field input:hover,
.calculator-field select:hover {
  border-color: #0056b3;
}

/* Ensure sidenav does not cover content */
/* body {
  overflow-x: hidden; 
} */

@media (min-width: 750px) {
  .calculator-container {
    transform: translate(45%, 2%);
    position: relative;
    transition: transform 0.7s ease;
    /* overflow: initial; */
  }
} 
@media (min-width: 850px) {
  .calculator-container {
    transform: translate(80%, 2%);
    position: relative;
  }
} 
